body {
    color: rgb(68, 68, 68);
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    padding: 0.5rem;
    text-align: center;
}

main {
    padding: 0.4rem 0 2rem 0;
}

footer {
    color: rgb(102, 102, 102);
    background: rgb(249, 249, 249);
    padding: 1rem 2rem;
    border-top: 0.4rem rgb(239, 239, 239) solid;
    font-size: 0.8em;
    text-align: center;
}

footer a {
    color: rgb(153, 153, 153);
}

.status2xx {
    background-color: rgb(48, 64, 0);
    color: rgb(255, 255, 255);
}

.status3xx {
    background-color: rgb(71, 80, 118);
    color: rgb(255, 255, 255);
}

.status4xx {
    background-color: rgb(242, 232, 26);
    color: rgb(0, 0, 0);
}

.status5xx {
    background-color: rgb(197, 80, 66);
    color: rgb(255, 255, 255);
}
