body {
    color: var(--error-page-fg-color);
    background-color: var(--error-page-bg-color);
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    padding: 0.5rem;
    text-align: center;
}

main {
    padding: 0.4rem 0 2rem 0;
}

footer {
    color: var(--error-block-fg-color);
    background: var(--error-block-bg-color);
    padding: 1rem 2rem;
    border-top: 0.4rem var(--error-block-border-color) solid;
    font-size: 0.8em;
    text-align: center;
}

footer a {
    color: var(--error-footer-fg-color);
}

.status2xx {
    background-color: var(--status-2xx-bg-color);
    color: var(--status-2xx-fg-color);
}

.status3xx {
    background-color: var(--status-3xx-bg-color);
    color: var(--status-3xx-fg-color);
}

.status4xx {
    background-color: var(--status-4xx-bg-color);
    color: var(--status-4xx-fg-color);
}

.status5xx {
    background-color: var(--status-5xx-bg-color);
    color: var(--status-5xx-fg-color);
}
