
/* ------------------- Menu of the main app ----------------- */

.topbar {
    background-color: var(--bg-color-alt);
	text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
	width: 100%;
}

.topbar_button {
    background-color: inherit;
	color: rgb(250, 250, 250);
	opacity: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
	padding-top: 10px;
    width: 10%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 4px solid;
	border-bottom-color: var(--bg-color-alt);
}

.topbar_button:focus {
	opacity: 75%;
}

.topbar_button_icon {
	padding-bottom: 10px;
	margin-right: 20px;
	width: 20%;
	vertical-align: middle;
}

.topbar_button_text {
	font-family: inherit;
    font-size: 120%;
	font-weight: bold;
	font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    vertical-align: middle;
}

.current_page {
    /*background-color: rgb(47, 47, 87);*/
}
