:root {
    --header-height: 45vh;
    --footer-height: 20vh;
}

:root:not([data-theme=dark]), [data-theme=light] {
    --header-bg-color: linear-gradient(0deg, rgb(116,120,158) 0%, rgb(24, 28, 38) 100%);
    --footer-bg-color: linear-gradient(0deg, rgb(24, 28, 38) 0%, rgb(116,120,158) 100%);
}

.dark {
    --header-bg-color: radial-gradient(circle, rgb(190,191,207) 0%, rgba(148,187,233) 100%);
}

/* ------------------------------------ */

section.fieldset {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

section.hands-box {
    width: 100%;
    padding: 1vh 0;
    margin-bottom: 3vh;

    display: flex;
    align-items: center;
    overflow-x: auto;

    background-color: #e8e8e8;;
    border: 2px black;
    border-radius: 1vw;
}

.hands-panel {
    position: relative;
    margin: 0 2vw;

    min-width: 28%;
    height: 50vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: transparent;
    border: dashed black;
}

.hands-panel#selected {
    background-color: #DCE7F3;
    border: solid .4rem #3465A4;
}

.hands-panel > button.arrow-btn {
    position: absolute;
    top: .5vh;
}

button.arrow-btn.prev {
    left: .2vw;
}

button.arrow-btn.next {
    right: .2vw;
}

.hands-panel > h3 {
    background-color: transparent;
    margin-top: .5vh;
}

.hands-panel > img {
    background: transparent;
    transform: rotate(-90deg);

    /* 35vh = 70% of the panel height, here we applied a rotate with css style so our width is the height when we display */
    width: 35vh;
    height: auto;
}

/* SPECIFIC CSS FOR SOME HANDS SET */
.hands-panel > img#hand-img-laurent {
    width: auto;
    height: 70%;

    transform: rotate(0);
}

.hands-panel > input[type=radio] {
    margin-bottom: 1vh;
    transform: scale(1.3);
}

@media screen and (max-width: 880px) {
    .hands-box {
        flex-direction: column;
    }

    .hands-panel {
        width: 90%;
        margin-bottom: 2vh !important;
    }
}

/* ------------------- Spinner for the app cued speech ----------------- */

.spinner {
    /* Size */
    height: 4rem;
    width: 4rem;

    /* Create a curve at the top */
    border: 4px solid #d1d5db;
    border-top-color: #3b82f6;
    border-radius: 50%;

    animation: spinner 800ms linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
