.vscode
.vscode/*
.idea
.idea/*
.settings
.project
.pydevproject
*.pyc
*/*.pyc
.DS_Store
*.dump
tiedlist.*
dist
dist/*
sppas.egg-info
sppas.egg-info/*
sppas/ui/wxapp/.wxapp
sppas/ui/swapp/.webapp
sppas/ui/swapp/.swapp
.app~
sppas-venv
sppas-venv/*
/sppas/ui/swapp/statics/images/desktop.ini
sppas/bin/*.txt
sppas/bin/*.exe
demo
demo/*
/sppas/ui/swapp/whakerexa-backup/
sppas/ui/swapp/whakerexa-backup
sppas/ui/swapp/whakerexa-backup/*
tests/manual-check-out
tests/manual-check-out/*
