.idea
.idea/*
logs
logs/*
trash
trash/*
.settings
.uisettings
.project
.pydevproject
*.pyc
*/*.pyc
.DS_Store
*.dump
tiedlist.*
sppas/doc/users/web/
sppas/ui/wxapp/.wxapp
sppas/ui/swapp/.webapp
sppas/ui/swapp/.swapp
workspaces/Demo.json
resources/faces/res10_300x300_ssd_iter_140000_fp16.caffemodel
.app~
.sppaspyenv~
.sppaspyenv~/*
resources/cuedspeech/cueConfig-eng.txt
/resources/faces/*
/sppas/ui/swapp/statics/images/desktop.ini
